<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
   >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.ChasmApplication"
        android:appComponentFactory="com.tap.chasm.di.MetroAppComponentFactory"
        android:theme="@style/Theme.AppCompat"
        android:allowBackup="false"
        android:label="Chasm"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        >

        <activity
            android:name=".view.ChasmActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
